{% extends 'business/header-footer_bus.html' %}
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> -->
  {% block title %}Products List{% endblock %}
    {% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <section class="contact_section layout_padding">
    <div class="container ">
      {% for i in data %}
      <div class="heading_container">
        <h2 class="">
          {{i.Busreg.Business_Name}}
        </h2>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div>
              <input type="text" placeholder="Owner Name:{{i.Busreg.Owner_Name}}" readonly />
            </div>
            <div>
              <input type="email" placeholder="Email:{{i.Busreg.Bus_Email}}" readonly/>
            </div>
            <div>
              <input type="text" placeholder="Phone:{{i.Busreg.contact}}" readonly/>
            </div>
            <div>
              <input type="text" placeholder="Official Website: {{i.Off_web}}" readonly/>
            </div>
            <div>
              <input type="text" placeholder="Linkedin:{{i.Linkedin}}" readonly/>
            </div>
            <div>
              <input type="text" placeholder="Any Social Media:{{i.Social}}" readonly/>
            </div>
           
           
            <div class="d-flex ">
              <a href="/editcontact/{{i.id}}">
                Edit
              </a>&nbsp;&nbsp;
           
              <a href="/delcontact/{{i.id}}">
                Delete
              </a>
            </div>
           
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
<!-- <table width="200" border="1">
  <tr>
    <td>Sl.No.</td>
    <td>Business Name</td>
    <td>Owner Name</td>
    <td>Official Phone</td>
    <td>Official Email</td>
    <td>Official Website</td>
    <td>Linkedin Details</td>
    <td>Social Media</td>
    <td>Edit</td>
    <td>Delete</td>
   
  </tr>
 
  {% for i in data %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.Busreg.Business_Name}}</td>
    <td>{{i.Busreg.Owner_Name}}</td>
    <td>{{i.Busreg.contact}}</td>
    <td>{{i.Busreg.Bus_Email}}</td>
    <td>{{i.Off_web}}</td>
    <td>{{i.Linkedin}}</td>
    <td>{{i.Social}}</td>
    <td><a href="/editcontact/{{i.id}}">Edit Contact</a></td>
    <td><a href="/delcontact/{{i.id}}">Delete Contact</a></td>
  </tr>
 {% endfor %}
</table> -->
</body>
{% endblock %}
</html>