<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Feedback Form</title>
</head>

<body>
<h3 align="center">Feedback Form</h3>
<form action="" method="post">

<table  border="1" align="center">
  <tr>
    <td><label>Enter Your Name:</label></td>
    <td><input type="text" id="cus_name" name="name" /></td>
   </tr>
   <tr> 
    <td><label>Enter the Business name:</label></td>
    <td><input type="text" id="bus_name" name="bus_name" /></td>
   </tr>
   <tr> 
    <td><label>Enter Product Name:</label></td>
    <td><input type="text" id="prod_name" name="prod_name" /></td>
   </tr>
   <tr>
    <td><label>Rating:</label></td>
    <td>
    <input type="radio" name="rating" value="rating" />Excellent
    <input type="radio" name="rating" value="rating" />Good<br />
    <input type="radio" name="rating" value="rating" />Satisfied
    <input type="radio" name="rating" value="rating" />Need to improve
    </td>
   </tr>
   <tr> 
    <td><label>Enter your message:</label></td>
    <td><textarea id="message" name="message" /></textarea></td>
   </tr>
   <tr>
   <td colspan="2" align="center">
   <input type="submit" value="Submit" />
   <input type="reset" value="Clear" />
   </td></tr>
</table>
</form>
</body>
</html>
