<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table name="busreg" width="592" border="1">
  <tr>
    <td width="51">Sl.No.</td>
    <td width="46">Business_Name</td>
    <td width="46">Logo</td>
    <td width="46">Product Name</td>
    <td width="46">Product Image</td>
    <td width="46">Product Availability</td>
    <td width="46">Product Price</td>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.Busreg.Business_Name}}</td>
    <td><img src="{{i.Busreg.Logo.url}}" width="200" height="200"></td>
    <td>{{i.Prod_Name}}</td>
    <td><img src="{{i.Prod_image.url}}" width="200" height="200"></td>
    <td>{{i.Availability}}</td>
    <td>{{i.Prod_price}}</td>
  </tr>
 {% endfor %}
  
  
</table>
</body>
</html>
