<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Enquiry Form</title>
</head>

<body>
<h3 align="center">Enquiry Form</h3>
<form action="/enquiry_post/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<table width="358" border="1" align="center">
  <tr>
    <td><input type="hidden" id="id" name="id" value="{{id}}" /></td></tr><!--this is the second step of edit process--><!--here we are storing the passed id of the product to edit_prod variable62 which is already stored in the table to show it in the edit form automatically--><!--here we need a variable edit_prod beacause all the id and other data can be passed only as a key value pair like a dictionary-->
  <!-- <tr>
    <td><label>Enter Your Name:</label></td>
    <td><input type="text" id="cus_name" name="cus_name" /></td>
   </tr>
   <tr> 
    <td><label>Enter your contact:</label></td>
    <td><input type="tel" id="contact" name="cus_contact" /></td>
   </tr>
   <tr> 
    <td><label>Enter the business name:</label></td>
    <td><input type="text" id="business_name" name="bus_name" /></td>
   </tr> -->
   <tr> 
    <td><label>Enter your queries:</label></td>
    <td><textarea id="queries" name="queries" ></textarea></td>
   </tr>
   <tr>
   <td colspan="2" align="center">
   <input type="submit" value="Submit" />
   <input type="reset" value="Clear" />
   </td></tr>
</table>
</form>
</body>
</html>
