{% extends 'customer/header-footer.html' %}
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> -->
  {% block title %}Products List{% endblock %}
    {% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>contact view of customer</title>
</head>

<body>
  <section class="contact_section layout_padding">
    <div class="container ">
      <div class="heading_container">
        <h2 class="">
          Contact Us
        </h2>
      </div>
      {% for i in contact %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div>
              <input type="text" placeholder="Name:{{i.Busreg.Business_Name}}" readonly />
            </div>
            <div>
              <input type="email" placeholder="Email:{{i.Busreg.Bus_Email}}" readonly/>
            </div>
            <div>
              <input type="text" placeholder="Phone:{{i.Busreg.contact}}" readonly/>
            </div>
            <div>
                <input type="text" class="message-box" placeholder="Address:{{i.Busreg.Address}}" readonly />
              </div>
            <div>
                <input type="text" placeholder="Website:{{i.Off_web}}" readonly/>
            </div>
            <div>
                <input type="text" placeholder="Linkedin:{{i.Linkedin}}" readonly/>
            </div>
            <div>
                <input type="text" placeholder="Social Media:{{i.Social}}" readonly/>
            </div>
            <!-- <div>
              <input type="text" class="message-box" placeholder="Message"  />
            </div> -->
            <div class="d-flex ">
              <!-- <button>
                Connect
              </button> -->
            </div>
            {% endfor %}
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map-responsive">
              <iframe
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- <table width="200" border="1">
  <tr>
    <td>Sl.No.</td>
    <td>Business Name</td>
    <td>Owner Name</td>
    <td>Official Phone</td>
    <td>Official Email</td>
    <td>Official Website</td>
    <td>Linkedin Details</td>
    <td>Social Media</td>
   
  </tr>
 
  {% for i in data %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.Busreg.Business_Name}}</td>
    <td>{{i.Busreg.Owner_Name}}</td>
    <td>{{i.Busreg.contact}}</td>
    <td>{{i.Busreg.Bus_Email}}</td>
    <td>{{i.Off_web}}</td>
    <td>{{i.Linkedin}}</td>
    <td>{{i.Social}}</td>
  </tr>
 {% endfor %}
</table> -->

</body>
{% endblock %}
</html>