{% load static %}
<!-- <!DOCTYPE html>
<html lang="en"> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service List</title>
    <link rel="stylesheet" href="{% static 'productcss.css' %}">
</head>
<body>

<h2>Service List</h2>

<div class="product-container">
    {% for i in service %}
    <div class="product-card">
        <!-- <img src="{{ i.Prod_image.url }}" alt="Product Image"> -->
        <div class="card-content">
            <h3>{{ i. Serv_cat}}</h3>
            <!-- <p class="category">{{ i.Prod_cat }}</p>
            <p class="description">{{ i.Prod_des }}</p> -->
            <p class="business">Business: {{ i.Busreg.Business_Name }}</p>
            <p class="price">Service Charge: ${{ i.Serv_charge}}</p>
            <!-- <p class="availability">Availability: {{ i.Availability }}</p>
             {% for offer in pp %}
               {% if offer.Products.id == i.id %}
               <p class="offer">Offer: {{ offer.Offer_desc }}</p>
               <p class="offer"> Discount Percentage: {{ offer.Discount }}</p>
               <p class="offer"> Start Date:{{ offer.Start_date }}</p>
               <p class="offer"> End Date:{{ offer.End_date }}</p>
               {% endif %}
            {% empty %}
           
            {% endfor %} -->

            <div class="buttons">
                <!-- <a href="/editprod/{{ i.id }}" class="edit-btn">Edit</a> -->
                <!-- <a href="/deleteproduct/{{ i.id }}" class="delete-btn">Delete</a> -->

                <a href="/sendmail/{{ i.Busreg.id }}/" class="view-btn">
                  Service Enquiry
                </a>
                <a href="/servfeedback/{{i.id}}/" class="view-btn">
                Feedback
                </a>
                <!-- <a href="/addoffers/{{ i.id }}" class="add-btn">Add Offers</a> -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>



<!-- {% extends  'customer/header-footer.html'%}
<head>
    <title>{% block title %}Services{% endblock %}</title>
</head>
<body>
{% block body %}
<form action="/cusserv_view_post/" method="POST" class="forms" enctype="multipart/form-data">
  
    {% csrf_token %}
    <table width="200" border="1">
      <tr>
        <td>Sl.No.</td>
        <td>Business Name</td>
        <td>Service Category</td>
        <td>Service Charge</td>
        <td>Service enquiry</td>
        <td>Feedback</td>
      </tr>
     
      {% for i in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.Busreg.Business_Name}}</td>
        <td>{{i.Serv_cat}}</td>
        <td>{{i.Serv_charge}}</td>
        <td><a href="/sendmail/{{ i.Busreg.id }}/">Service Needed</a></td>
        <td><a href="/servfeedback/{{i.id}}/">Feedback</a></td>
      </tr>
     {% endfor %}
    </table>
    </form>
</body>
{% endblock %} -->