<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="592" border="1">
  <tr>
    <td width="51">Sl.No.</td>
    <td width="46">Cus_Name</td>
    <td width="46">Cus_Email</td>
    <td width="47">Password</td>
    <td width="78">Contact</td>
    <td width="60">Address</td>
    <td width="66">Gender</td>
    <!-- <td width="60">Userrole</td> -->
    <td width="58">Accept</td>
    <td width="58">Reject</td>
    
    
  </tr>
  {% for i in data %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.Cus_Name}}</td>
    <td>{{i.Cus_Email}}</td>
    <td>&nbsp;</td>
    <td>{{i.Contact}}</td>
    <td>{{i.Address}}</td>
    <td>{{i.Gender}}</td>
    <!-- <td>{{i.Userrole}}</td> -->
    <td>{{i.Accept}}</td>
    <td>{{i.Reject}}</td>
    
  </tr>
  {%endfor%}
  
</table>
</body>
</html>
